<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card border-0" style="width: 18rem;">
                <div class="d-flex justify-content-center">
                  <img src="./../../assets/1644710371288 (1).jpg" class="card-img-top rounded-circle w-75" alt="Foto do usuário">
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center">Cristiano Alves de Campos</h5>
                  <p class="card-text text-center">Desenvolvedor Web Fullstack Iniciando</p>
                  <a href="" target="_blank"
                    class="btn btn-outline-dark d-flex justify-content-center">Github</a>
        
                  <hr class="mt-4 mb-4">
        
                  <h6 class="mb-3 text-monospace text-center">Pesquisar por nome</h6>
        
                  <input type="text" class="form-control mb-3 w-100">
                  <button class="btn btn-outline-warning w-100">Pesquisar</button>
                </div>
              </div>

        </div>
        <div class="col-md-8">
           
        </div>
    </div>
</div>